@import '../../style/colors';

.modal-mask{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.3;
  z-index: 999;
}

.modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  width: 500px;
  z-index: 9999;
  background: $white;
  border-radius: 20px;
  padding: 20px;
  &-confirm {
    min-height: 160px;
    width: 320px;
  }
  &-small {
    min-height: 400px;
    width: 600px;
  }
  &-medium {
    min-height: 500px;
    width: 800px;
  }
  &-large {
    min-height: 600px;
    width: 1000px;
  }

  .title{
  text-align: center;
  }

  .close-icon{
    position: absolute;
    top: 0;
    right: 12px;
    transform: rotate(45deg);
    color: $requiredColor;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
  }

  .confirmModal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2{
      padding-top: 5px;
    }
    .controls{
      width: 90%;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      padding: 0 60px;
      button{
        cursor: pointer;
        background: $white;
        font-weight: 600;
        font-size: 24px;
        transition: .3s;
        &.cancel{
          color: red;
        }
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
}