$accentPrimary: #0061ff;
$accentSecondary: #e5f2ff;
$lightGrayCyan: #e5e7ea;
$lightGray: #fafbfc;
$darkGrey: #8c95a5;
$lightGrayMilk: #f2f8fd;
$lightGrayBlue: #daeafc;
$lightBlue: #c6e8ff;
$white: #ffffff;
$placeholder: #9fa8b6;
$mediumGrey: #44586e;
$darkBlue: #001b38;
$borderColor: #d2d7df;
$borderTable: #ddd;
$requiredColor: #e00a0a;
$dangerColor: #bd271e;
$discountBg: #e00a0a12;
$disabledBg: #dde1e5;
$disabledBgSecondary: #f0f3f5;
$disabledColor: #abb3c0;
$disabledIconBg: #060d13;
$disabledDefault: #e5e5e5;
$hoverBorder: #71a7ff;
$hoverColor: #5595ff;
$focusBorder: #f7ad3c;
$selectedHover: #d9ebff;
$switcherHover: #eaf4ff;
$emptyButtonHover: #8093a7;
$disabledText: #f5f6f7;
$lightGreen: #67ce4e;
$violet: #6912b3;
$tableBg: #f1f2f4;
$tableDisableBg: #44586e80;
$lightAzureRadiance: #007bff1a;
$transparent: transparent;
$greyBlue: #edf3f9;
$greyDisabled: #e6e9ec;
$tagColor: #c0dfff;
$calendarBg: #f6fbff;
$darkGrey: #44586e;
$badgeBg: #fff7d8;
$badgeColor: #89630c;
$gray: #44586e26;
$lightGrayBorder: #d5d6d8;
$lighBlue: #0061ff;
$labelColor: #1a1c21;
$strongColorTranslate: #42576c;
$tabsBoxShadow: 0px 3px 6px #9fa8b65c;